#  Data Structures 
##  Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [7]:
#1
s = set(range(1,11))
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [13]:
#2

s.add(11)
s.discard(1)
print(s)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [17]:
#3

set1 = set(range(1, 6))
set2 = set(range(2, 11, 2))
                       
print(f"Union: {set1 | set2}")
print(f"Intersection: {set1 & set2}")
print(f"Difference (set1 - set2): {set1 - set2}")
print(f"Symmetric Difference: {set1 ^ set2}")

Union: {1, 2, 3, 4, 5, 6, 8, 10}
Intersection: {2, 4}
Difference (set1 - set2): {1, 3, 5}
Symmetric Difference: {1, 3, 5, 6, 8, 10}

In [19]:
#4

squares = {x**2 for x in range(1, 11)}
print(squares)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [ ]:
#5

evens = {x for x in s if x % 2 == 0}
print(evens)

{2, 4, 6, 8, 10}

In [ ]:
#6

s = {1, 2, 2, 3, 3, 4, 5}
print(s)                                    # As sets do not allow duplicates

{1, 2, 3, 4, 5}

In [22]:
#7

set1 = set(range(1, 6))
set2 = set(range(1, 4))
print(f"is set2 a subset of set1 {set2.issubset(set1)}")
print(f"is set 1 a superset of set2 {set1.issuperset(set2)}")

is set2 a subset of set1 True
is set 1 a superset of set2 True

In [23]:
#8

fs = frozenset(range(1, 6))
print(fs)

frozenset({1, 2, 3, 4, 5})

In [27]:
#9

s =set(range(1, 6))
lst= list(s)
lst.append(6)
s= set(lst)
print(s)

{1, 2, 3, 4, 5, 6}

In [28]:
#10

d = {
    frozenset({1, 2}): 3,
    frozenset({3, 4}): 7,
    frozenset({5, 6}): 11
}
print(d)

{frozenset({1, 2}): 3, frozenset({3, 4}): 7, frozenset({5, 6}): 11}

In [29]:
#11

s = set(range(1, 6))
for element in s:
    print(element)

1
2
3
4
5

In [30]:
#12

s = set(range(1, 6))
while s:
    element = s.pop()
    print(s)

{2, 3, 4, 5}
{3, 4, 5}
{4, 5}
{5}
set()

In [36]:
#13

set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 4, 5}

In [37]:
#14

s = {1, 2, 3, 4, 5}
print(3 in s)
print(6 in s)

True
False

In [40]:
#15

s = {  (1, 2), (3, 4), (5, 6) }
print(s)

{(1, 2), (3, 4), (5, 6)}